<div class="demo">
  <div style="margin: 0; overflow: hidden;" class="snow-container">
    <div class="button-container">
      <button class="button let-it-snow">let it snow</button>
      <button class="button jingle-bells">jingle bells</button>
    </div>
  </div>
</div>