<div class="demo">
  <div style="margin: 0; overflow: hidden;" class="snow-container">
    <div class="button-container">
      <button class="let-it-snow">let it snow</button>
    </div>
  </div>
</div>