<div style="margin: 0; overflow: hidden;">
    <a-scene
        vr-mode-ui="enabled: false;"
        renderer="logarithmicDepthBuffer: true;"
        arjs="trackingMethod: best; sourceType: webcam; debugUIEnabled: false;"
        device-orientation-permission-ui="enabled: false;"
        embedded
    >
        <a-assets>
            <a-asset-item
                id="animated-asset1"
                src="assets/2-1.glb"
                response-type="arraybuffer"
            ></a-asset-item>
        </a-assets>

        <a-marker
            id="animated-marker1"
            type="pattern"
            preset="custom"
            url="assets/pattern-1.patt"
            registerevents
        >
            <a-entity
                id="bowser-model1"
                scale="106.43347211899357 106.43347211899357 106.43347211899357"
                rotation="270 0 0"
                animation-mixer="loop: repeat;"
                position="0 0 0"
                gltf-model="#animated-asset1"
            ></a-entity>
        </a-marker>
        <a-entity camera></a-entity>
    </a-scene>
    <!-- <h1>hi</h1> -->
</div>
